*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(#200016,#10001f);
    height: 100vh;
    font-family: system-ui;
}
a{
    text-decoration:none;
    color: #fff;
}
header{
    position: absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
    text-transform: uppercase;

}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header ul li{
    margin-right: 30px;
}
header ul li a{
    padding: 6px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
header ul li a:hover, .active{
    background:#fff ;
    color:#200016
}
.main {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    color:linear-gradient(to top,#200016,transparent);
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    

}
#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
}
.eldeeb{
    color:#fff;
    font-size: 25px;
    text-transform: uppercase;
    transform: translateY(-130px);
    -webkit-transform: translateY(-130px);
    -moz-transform: translateY(-130px);
    -ms-transform: translateY(-130px);
    -o-transform: translateY(-130px);
}
.content{
    color: #fff;
    padding: 30px;

}
content h2 {
    margin: 20px;
    font-size: 30px;
}
content p{
    margin: 20px;
}